*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 400;
}
a{
    text-decoration: none;
}
input{
    padding: 2px 4px;
    outline: none;
}
/* header */
header{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    background-color: #413620;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 10;
}
header > *{
    margin: 16px;
}
header > a{
    padding: 0 12px;
    color: white;
    font-size: 18px;
}
header > span *{
    padding: 0 12px;
    color: white;
    font-size: 18px;
}
/* middle-left */
.middle{
    width: 100%;
    min-height: 90vh;
    display: flex;
    overflow: hidden;
}
.middle-left > div{
    width: 180px;
    height: fit-content;
    margin: 48px;
    padding: 8px 0;
    display: flex;
    flex-direction: column;
    border: 2px #413620 solid;
    position: fixed;
}
.middle-left > div > *{
    margin: 8px 12px;
}
.middle-left > div > button{
    padding: 4px 0;
    background-color: #413620;
    color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}
/* middle-right */
.middle-right{
    width: 100%;
    margin: 48px;
    margin-left: 276px;
    text-align: center;
}
.search-bar{
    padding: 8px 0;
    display: flex;
    justify-content: center;
    align-items: baseline;
}
.search-bar span{
    width: fit-content;
}
.search-bar *{
    margin: 8px 12px;
}
.result-col{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.result-col section{
    width: 480px;
    margin: 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 2px #413620 solid;
}
.result-col section > *{
    margin: 24px;
}
.result-col section img{
    flex-basis: 24%;
    width: 144px;
    height: 144px;
}
.result-col section p{
    flex-basis: 44%;
    word-wrap: break-word;
    word-break: break-all;
    white-space: pre-wrap;
}

/* footer */
footer{
    width: 100%;
    height: fit-content;
    background-color: #413620;
    display: flex;
    justify-content: space-evenly;
}
footer a{
    padding: 16px 12px;
    color: white;
    font-size: 18px;
}